<div class="col-md-1">
  <br><br><br>
  <%= link_to "Users", dashboard_users_path %>
  <%= link_to "Myrakes", dashboard_myrakes_path %>
  <%= link_to "Histories", dashboard_histories_path %>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>