<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
<head style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
<title style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Rakepage Email</title>
</head>
 
<body bgcolor="#FFFFFF" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;">

  <p>
    Hi&nbsp;<%= @user.username %>,
  </p>
  <p>
    We at Rakepage believe that making choices is the necessary first step to stay focused.
  </p>
  <p>
    Doing so and stick to it on a daily basis leads to habit-building, an effective way to take action and become successful.
  </p>
  <p>
    How is it going with your choices you made on Rakepage?
  </p>

  <!-- Here comes the rake list -->
  <ul>
    <% @user.myrakes.each do |myrake| %>
      <li><%= myrake.name %></li>
    <% end %>
  </ul>

  <p>
    Please check the updated version of Rakepage for the following optimizations:
  </p>
  <ul>
    <li>Overview of your choices with a "success meter" which visualizes the last 30 days you took action.</li>
    <li>After taking action, reward yourself and build up your success meter with a single click.</li>
    <li>Stay focused and work on your skill improvement with action reminders and customized news updates in one place.</li>
  </ul>
  <p>
    Sign in to your account: <a href="http://www.rakepage.com/users/sign_in" >http://www.rakepage.com/users/sign_in</a>
  </p>
  <p>
    And as always, we're happy to receive any kind of feedback or requests so we can provide a better user experience.
  </p>
  <br>
  <p>
    Cheers,
    <br><br>
    Mischa
    <br>
    <em>Customer Success Manager</em>
  </p>
  <br>
  <p>
    <em>In dots I trust</em>
    <br>
    <a href="http://blog.rakepage.com/2015/02/24/in-dots-i-trust/" >http://blog.rakepage.com/2015/02/24/in-dots-i-trust/</a>
  </p>
  <br>
  <br>
  <p>
    <a href="http://rakepage.com" >http://rakepage.com</a>
    <br>
    Reach Your Goals
    <br>
    Make Choices. Stay Focused. Be Awesome.
  </p>

</body>
</html>