<%= render 'dashboard/dashboard_menu' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'dashboard/dashboard_nav' %>
    <div class="col-md-10">
      <h1>Topics (<%= MasterRake.all.count.to_s %>) </h1>
      <table class="table">
        <thead>
          <tr>
            <th>Topic</th>
            <th># of rakes</th>
            <th>Refreshed at</th>
          <tr>
        <thead>
        <tbody>
          <% @master_rakes.each do |master_rake| %>
            <tr>
              <td><%= link_to master_rake.name, dashboard_master_rake_path(master_rake) %></td>
              <td><%= master_rake.myrakes.count.to_s %></td>
              <td><%= master_rake.refreshed_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @master_rakes %>
    </div>
  </div>
</div>