<span class="rake-nav">ACHIEVEMENTS<hr></span>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <span class="progress-count centered"><i class="fa fa-trophy grey"></i></span>
      <span class="progress-count-label centered grey">Coming soon...</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <span class="progress-count centered"><i class="fa fa-trophy grey"></i></span>
      <span class="progress-count-label centered grey">Coming soon...</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <span class="progress-count centered"><i class="fa fa-trophy grey"></i></span>
      <span class="progress-count-label centered grey">Coming soon...</span>
    </div>
  </div>
</div>