<!-- <div class="row">
  <div class="col-md-12">
    <div class="thumbnail" id="notifications-nav">
      <div class="media">
        <span class="pull-left">
          <p class="reminder-month">
            Notifications
          </p>
          <p class="reminder-day">
            <i class="fa fa-bullhorn"></i>
          </p>
        </span>
        <div class="media-body">
          <h5 class="media-heading">Rakepage News&nbsp;
            <span class="badge badge-rakepage">
              <%# if current_user.last_notification_read_at.nil? %>
                <%#= @notifications.count.to_s %>
              <%# else %>
                <%#= @notifications.where("published_at > ?", current_user.last_notification_read_at).count.to_s %>
              <%# end %>
            </span>
          </h5>
          <p class="rake-links">
            Click to read the notifications
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<%#= render 'progress_counts' %>
<%#= render 'achievements' %>
<div id="notifications">
  <!-- <a class="anchor" id="notifications-anchor"></a> -->
  <%= render 'notifications' %>
</div>
