<h3>Channels</h3>
<ul class="leaflet-list list-inline">
  <% @channels.each do |c| %>
    <li>
      <img data-src="holder.js/60x60">
      <p class="text-center"><%= c.name %></p>
    </li>
  <% end %>
</ul>