<h3 class="col-title">Feed</h3>
<div class="media">
  <% @leaflets.each do |l| %>
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="media image">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= l.content %></h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, architecto, harum, sed, saepe qui fugiat sunt temporibus natus facilis commodi debitis reiciendis ad deserunt esse dicta nobis tenetur quisquam ab.
    </div>
    <br />
  <% end %>
</div>