<br>
<div class="container-fluid">
  <div class="alert alert-success alert-dismissable">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
  </div>
</div>
