<h3 class="col-title">Heap</h3>
<div class="media">
  <% @leaflets.each do |l| %>
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="media image">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= l.content %></h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, a nihil porro inventore id ut dolore voluptatibus ipsa quasi eveniet.
    </div>
    <br />
  <% end %>
</div>