<div class="navbar navbar-inverse navbar-fixed-top">
  <!--Include your brand here-->
  <%= link_to image_tag("rakepage_logo_small.jpg"), master_rakes_path, class: "navbar-brand" %>
  <p class="navbar-share-buttons">
    <%= render 'shared/share_buttons' %>
  </p>
  <div class="navbar-header">
    <a id="nav-expander" class="nav-expander fixed">
      MENU &nbsp;<i class="fa fa-bars white"></i>
    </a>
  </div>
</div>