<div class="navbar navbar-inverse navbar-fixed-top">
  <!--Include your brand here-->
  <a class="navbar-brand" href="#"><%= image_tag("rakepage_logo_small.jpg") %></a>
  <div class="navbar-header">
    <a id="nav-expander" class="nav-expander fixed">
      MENU &nbsp;<i class="fa fa-bars"></i>
    </a>
  </div>
</div>