<div class="navbar navbar-inverse navbar-fixed-top">
  <!--Include your brand here-->
  <% if user_signed_in? %>
    <%= link_to image_tag("rakepage_logo_small.jpg"), user_path(current_user), class: "navbar-brand" %>
  <% else %>
    <%= link_to image_tag("rakepage_logo_small.jpg"), root_path, class: "navbar-brand" %>
  <% end %>
  <p class="navbar-share-buttons">
    <%= render 'shared/share_buttons' %>
  </p>
  <div class="navbar-header">
    <a id="nav-expander" class="nav-expander navbar-right">
      MENU &nbsp;<i class="fa fa-bars white"></i>
    </a>
  </div>
</div>