<br>
<ul id="feed-list" class="leaflet-list">
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Taking action
      </span>
    </div>
    <div class="card-title">
      Increase Your Progress-Meter
    </div>
    <div class="card-content">
      <p>
        The progress-meter visualizes the last 30 days and the red box represents the current day. Track the days you took action and made progress. The overview will help you to improve your personal leadership. Defend your valuable time to keep your progress up. It's your choice!
      </p>
    </div>
  </li>
  <br>
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Plan actions
      </span>
    </div>
    <div class="card-title">
      Turn Inspirations Into Actions
    </div>
    <div class="card-content">
      <p>
        Keep yourself motivated and inspired by adding actions to show up in this view. Find creative ways to execute on your passions but don't mistake it for a task manager.
      </p>
    </div>
  </li>
</ul>