<br>
<ul id="feed-list" class="leaflet-list">
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Action-Tracker
      </span>
    </div>
    <div class="card-title">
      Focus on Progress
    </div>
    <div class="card-content">
      <p>
        The action-tracker visualizes the last 30 days and the red box represents the current day. Track the days you took action and made progress in skill improvment.
      </p>
    </div>
  </li>
  <br>
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Plan actions
      </span>
    </div>
    <div class="card-title">
      Remind Yourself to Take Action
    </div>
    <div class="card-content">
      <p>
        Skill improvement requires taking action and a lot of practice. Plan actions, track your progress and as an option write some journal entries.
      </p>
    </div>
  </li>
</ul>
<br><br><br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign Up", new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered",
                  id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% end %>