<div class="row">
  <br>
  <div class="col-md-12">
    <div class="card-quote">
      <em>Begin doing what you want to do now. We are not living in eternity. We have only this moment, sparkling like a star in our hand and melting like a snowflake.</em>
      <p>
        <span class="pull-right">
          &mdash;Sir Francis Bacon
        </span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <br>
  <div class="col-md-12">
    <ul id="feed-list" class="leaflet-list">
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Introduction
          </span>
        </div>
        <div class="card-title">
          Daily Briefings On What's Important To You
        </div>
        <div class="card-content">
          <p>
            In the age of distractions we are drowning in a sea of irrelevance. Rakepage helps you to achieve your goals with daily briefings on what’s important to you. Get updated without distractions and focus on taking action and tracking your progress.
          </p>
          <div class="thumbnail demo-rake">
            <div class="media rake-index-view">
              <span class="pull-left">
                <%= image_tag("rake_img_placeholder_96x54.jpg", size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  Click to see example
                </h5>
                <p>
                  <div class="progress progress-chain">
                    <% chain_array = [[false, true],[false, true],[true, true],[true, false],[true, true],[false, true],
                                      [false, false],[false, true],[true, true],[true, false],[true, true],[true, false],
                                      [false, true],[false, true],[false, true],[false, true],[true, false],[false, false],
                                      [false, true],[false, true],[false, true],[false, false],[true, true],[true, true],
                                      [true, true],[false, true],[true, true],[false, true],[true, true],[false, true]] %>
                    <% chain_array.each do |chain_element| %>
                      <% if chain_element[1] == true %>
                        <div class="progress-bar progress-bar-success bookmark-metrics-action" style="width: 3.33%"></div>
                      <% else %>
                        <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
                      <% end %>
                    <% end %>
                  </div>
                </p>
                <div class="rake-footer">
                  <span>
                    Progress-Tracker
                  </span>
                  <span class="pull-right">
                    Open Tasks:
                    <span class="new-rec-alert">2</span>
                    &nbsp;&nbsp;
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <br>
    </ul>
    <br>
  </div>
</div>
<br>
<br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign up",
                  new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% end %>