<div class="panel panel-default">
  <div class="panel-heading panel-new-recommendations">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-overview" 
         href="#collapse-new-recommendations">
         Latest Recommendations
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse" id="collapse-new-recommendations">
    <div class="panel-body">
      <%= render 'display_leaflets' %>
    </div>
  </div>
</div>