<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-overview" 
         href="#collapse-overview">
         Overview
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <% sum = 0 %>
      <%= line_chart @master_rakes.group_by_week(:created_at).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum += y)} }.reduce({}, :merge), { height: "180px", library: { colors: ['#6e2384'], title: "Total Master Rakes: " + @master_rakes.count.to_s,chartArea: { top: 20, bottom: 10 }, hAxis: { format: "MM/dd"}, vAxis: { format: "#" }}} %>
      <%= bar_chart [["Created", Leaflet.where(created_by: !nil).count], 
                     ["Saved", MasterHeapLeafletMap.count]],
                     { height: "120px", library: { colors: ['#6e2384'], title: "Recommendations", chartArea: { top: 20, bottom: 10 }, vAxis: { format: "#" }}} %>
    </div>
  </div>
</div>