<a class="anchor" name="anchor-master-rake-overview"></a>
<div>
  <span class="rake-nav">TOPICS<hr></span>
</div>
<div class="tab-header">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="rake-nav active">
      <a href="#featured-rakes" id="view-featured-master-rakes" role="tab" data-toggle="tab">POPULAR</a>
    </li>
    <li class="rake-nav">
      <a href="#new-rakes" id="view-new-master-rakes" role="tab" data-toggle="tab">NEW</a>
    </li>
  </ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="featured-rakes">
    <%= render 'featured_master_rakes' %>
  </div>
  <div class="tab-pane" id="new-rakes">
    <%= render 'new_master_rakes' %>
  </div>
</div>