<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      Overview
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#new-rakes" role="tab" data-toggle="tab">New</a></li>
          <li><a href="#featured-rakes" data-toggle="tab">Featured</a></li>
          <li><a href="#all-rakes" data-toggle="tab">All</a></li>
<!--           <li><a href="#stats" data-toggle="tab">Stats</a></li> -->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="new-rakes">
            <%= render 'new_master_rakes' %>
          </div>
          <div class="tab-pane" id="featured-rakes">
            <%= render 'featured_master_rakes' %>
          </div>
          <div class="tab-pane" id="all-rakes">
            <%= render 'all_master_rakes' %>
          </div>
          <div class="tab-pane" id="stats">
            <%#= render 'stats' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>