<div class="row">
  <div class="col-lg-12">
  <br>
  <% sum = 0 %>
  <%= area_chart @master_rakes.group_by_week(:created_at).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum += y)} }.reduce({}, :merge), { height: "180px", library: { colors: ['#6e2384'], title: "Total Master Rakes: " + @master_rakes.count.to_s,chartArea: { top: 20, bottom: 10 }, hAxis: { format: "MM/dd"}, vAxis: { format: "#" }}} %>
  <% hash_created_leaflets = {"name" => "Created", "data" => ""} %>
  <% hash_saved_leaflets = {"name" => "Saved", "data" => ""} %>
  <% created_leaflets_count = Leaflet.where(created_by: !nil).group_by_week(:created_at).count %>
  <% saved_leaflets_count = HeapLeafletMap.group_by_week(:created_at).count %>
  <% hash_created_leaflets["data"] = created_leaflets_count %>
  <% hash_saved_leaflets["data"] = saved_leaflets_count %>
  <%= line_chart [hash_created_leaflets, hash_saved_leaflets],
               { height: "180px",
                 library: { 
                            title: "Recommendation Activity",
                            chartArea: { top: 20, bottom: 10 },
                            hAxis: { format: "MM/dd" },
                            vAxis: { format: "#" },
                            legend: { textStyle: { fontSize: 10 } },
                            isStacked: true
                          },
               } %>
  </div>
</div>