<!-- Modal -->
<div class="modal fade in" id="showTutorialNewMasterRakeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Master Rake</h4>
      </div>
      <div class="modal-body">

        <h4>Add Channels</h4>
        <p>
          Create an aggregated news feed by adding channels to this master rake. Click on the menu and add any RSS feed (blogs) or a subreddit from <%= link_to "Reddit.com", "http://reddit.com", target: "_blank" %>.
        </p>
        <h4>Customize your Rake</h4>
        <p>
          If you want to save posts (leaflets) from the news feed or create your own links, create your own customized rake by clicking on the button on the left side. You can then add or remove channels to adjust the news feed to your personal preference (again by clicking on the menu).
        </p>
        <p>
         Happy Raking!
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>