<!-- Modal -->
<div class="modal fade in" id="showTutorialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Welcome to Rakepage</h4>
      </div>
      <div class="modal-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tut-1" data-toggle="tab">First Steps</a></li>
          <li><a href="#tut-2" data-toggle="tab">Feedback</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="tut-1">
            <br>
            <h4>Rakes</h4>
            <p>
              A rake on Rakepage is your access point to the best web resources for a specific topic. Channels provide you with the latest news from blogs (any RSS feed) and/or subreddits from <%= link_to "Reddit", "http://reddit.com", target: "_blank" %>. Please let us know what other channels you would like to have, we might implement it as next!
            </p>
            <p>
              Whenever you find something you want to keep for later access or easy sharing, you can save the link to your personal rake. Each rake can have various subcategories to keep everything organized. 
            </p>
            <p>
              You want to add your own content? No problem! Choose or add a heap to your rake and create your own content by clicking on "Add a Leaflet".
            </p>
            <br>
            <h4>Master Rakes vs. Customized Rakes</h4>
            <p>
              A master rake is a template with aggregated channels and heaps from all users who created a customized rake from it. A customized rake allows you to add or delete channels according to your preferences. You also need a customized rake to save content in heaps.
            </p>
            <p>
              If a master rake is not available yet, you can create one by yourself. Choose a category first and then click on "Add Master Rake" at the top of the page. From there, you can create your customized rake by clicking on the green button at the top left. Choose "Uncategorized" if the desired category is not available yet.
            </p>
            <br>
            <h4>Channels</h4>
            <p>
              Open the menu at the top right corner to add or delete channels. In your customized rake you can also choose if the content of a channel is visible or not by clicking on the checkbox in front of the channel name.
            </p>
            <br>
            <p>
              Happy Raking!
            </p>
          </div>
          <div class="tab-pane" id="tut-2">
            <br>
            <p>
              Rakepage is in Beta mode and we are thankful for any kind of feedback or questions. Please use the feedback widget by clicking on the question mark at the bottom left side. Thank you!
            </p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%= bootstrap_form_for(History.new) do |f| %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "OK, I got it.", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>