<!-- Modal -->
<div class="modal fade in" id="showTutorialNewMasterRakeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Master Rake</h4>
      </div>
      <div class="modal-body">

        <h4>Add Channels</h4>
        <p>
          Click on the menu at the top right to add channels to this master rake. You can add any RSS feed (blogs) or a subreddit from <%= link_to "Reddit.com", "http://reddit.com", target: "_blank" %>. This will fill the news feed of this master rake.
        </p>
        <h4>Customize your Rake</h4>
        <p>
          Create your customized rake by clicking on the button on the left side of the master rake view. In a customized rake you can manage your channels and save content for later easy access. You can also add <em>Heaps</em> (subcategories) which enable you to add your own links (<em>leaflets</em>). To do this, click on 'Add Leaflet' in a heap.
        </p>
        <p>
         Happy Raking!
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>