<h1>Pick your rakes!</h1>
<div class="row">
  <div class="col-md-6">
  <%= form_tag add_rake_master_rakes_path do %>
    <% @master_rakes.each do |rake| %>
      <p>
      <%= label_tag rake.name, nil, class: "checkbox inline" %>
      <%= check_box_tag "master_rake[rakes][#{rake.id}]", rake.id %>
      </p>
    <% end %>
    <%= submit_tag "Save", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
