<br>
<div class="row">
  <%#= render 'master_rakes/master_rakes_desc' %>
  <%#= render 'master_rakes/channels_desc' %>
  <%#= render 'master_rakes/notes_desc' %>
</div>
<div class="row">
  <%= render 'master_rakes/master_rakes' %>
  <%= render 'master_rakes/channels' %>
  <%= render 'master_rakes/notes' %>
</div>
