<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Rakepage's 4 Keys of Success</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Focus</h3>
    <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
    <p class="landing-feature-text">
      Start your day resetting your mindset, by checking out your top 5 choices. Commit to choices and take action, choice by choice. This helps you to be more mindful for the rest of the day.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Save Time</h3>
    <p class="centered"><i class="fa fa-history fa-2x green"></i></p>
    <p class="landing-feature-text">
      Read customized news feeds from the topics you choose. Turn your ideas and inspirations from the news feed into actions with reminders.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Take Action </h3>
    <p class="centered"><i class="fa fa-gears fa-2x midnightblue"></i></p>
    <p class="landing-feature-text">
      Good ideas are worthless without execution. Don't delay; begin immediately to work on the first action of your topic, so it won’t loom over you for the rest of the day.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Skill- & Habit-Building</h3>
    <p class="centered"><i class="fa fa-graduation-cap fa-2x black"></i></p>
    <p class="landing-feature-text">
      Build up habits and improve your skills. View your success meter going up and check your discipline. Can you already smell the success?
    </p>
  </div>
</div>
<br><br>
