<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Rakepage's 4 Keys of Success</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Focus</h3>
    <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
    <p class="landing-feature-text">
      Start your day resetting your mindset, by checking out your top 5 priorities. Commit to priorities and take action. This helps you to be more mindful for the rest of the day.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Less Time-Wasting</h3>
    <p class="centered"><i class="fa fa-history fa-2x green"></i></p>
    <p class="landing-feature-text">
      Get updated based on a personalised news feed without distractions. Turn your ideas and inspirations from the news feed into actions with reminders.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Take Action </h3>
    <p class="centered"><i class="fa fa-gears fa-2x midnightblue"></i></p>
    <p class="landing-feature-text">
      Good ideas are worthless without execution. Don't delay; begin immediately to take action so you get closer to your goals.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Skill- & Habit-Building</h3>
    <p class="centered"><i class="fa fa-graduation-cap fa-2x black"></i></p>
    <p class="landing-feature-text">
      Build up habits and improve your skills. View your action meter filling up and check your accountability to increase your discipline.
    </p>
  </div>
</div>
<br><br>
