<%= render 'pages/menu' %>
<div class="row">
  <div class="col-md-6 col-centered">
    <h5 class="centered">
      <small>
        <% if user_signed_in? %>
          <i class="fa fa-home"></i>&nbsp;<%= link_to "MY SKILL IMPROVEMENTS", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
        <% else %>
          <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rake-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
          &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
          <i class="fa fa-home"></i>&nbsp;
          <span class="nav-link">MY SKILL IMPROVEMENTS</span>
        <% end %>
        &nbsp;|&nbsp;
        <%= link_to "ADD SKILL IMPROVEMENTS", master_rakes_path, { class: "nav-link", id: "view-master-rakes-index", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
        &nbsp;<i class="fa fa-sitemap"></i>
      </small>
    </h5>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Rakepage is for people who want personal leadership.<br>Rake in your potential and achieve your goals.</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 1</h2>
      <h3>Make Choices</h3>
      <p class="centered"><i class="fa fa-space-shuttle fa-2x"></i></p>
      <blockquote>
        <p class="landing-quote">
          Begin doing what you want to do now. We are not living in eternity. We have only this moment, sparkling like a star in our hand and melting like a snowflake.
        </p>
        <footer class="pull-right">Sir Francis Bacon</footer>
      </blockquote>
      <p class="landing-feature-text">
        You rarely have time for everything you want in this life, so you need to make choices.<br>Use Rakepage to keep an overview of your chosen skill improvements on one page.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 2</h2>
      <h3>Focus on Progress</h3>
      <p class="centered"><i class="fa fa-tasks fa-2x"></i></p>
      <p class="landing-feature-text">
        Personal leadership is to lead ourselves forward and grow every day. This requires courage, decisions and commitment to take action.<br>Track your progress on Rakepage and check that you're moving forward to achieve your goals.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 3</h2>
      <h3>Focus on Relevant Information</h3>
      <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
      <p class="landing-feature-text">
        In the age of distractions we are drowning in a sea of irrelevance.<br>With Rakepage you take control of what information you consume for each skill improvement by customizing your news feeds.
      </p>
    </div>
  </div>
  <br><br><br><br>
</div>