<div class="jumbotron skyline">
    <div class="container">
        <h2>Express what’s relevant to you.</h2>
        <h2>Engage with others who really care.</h2>
        <p>
            <%= link_to 'Learn more &raquo;'.html_safe, 'http://blog.rakepage.com', role: "button", class: "btn btn-success btn-lg" %>
            <%= link_to 'Sign up', new_user_registration_path, role: "button", class: "btn btn-default btn-lg" %>
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h3>Rakepage is collaborative knowledge sharing based on meaningful connections.</h3>
            <hr>
        </div>
        <div class="col-md-4">
            <h3>Sharing and Exchange of Know-how and Opinions</h3>
            <p>Rakepage is a platform that enables the sharing and exchange of know-how, experiences and opinions in ways and on a scale never possible before.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Meaningful connections to rediscover Humanness</h3>
            <p>Rakepage empowers people to make meaningful connections to rediscover humanness by providing users a better control how and with whom to share and exchange information.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Reputation and Trust Measurement</h3>
            <p>Reputation is the measurement of how much a community trusts you. Rakepage provides the platform to build up your reputation and get access to trusted information.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
