<div class="jumbotron">
    <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
    <span class="pull-right">
      <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                  new_user_session_path,
                  class: "sign-in-label" %> 
    </span>
    <h2>Uncluttered Web</h2>
    <h2>Content Consumption</h2>
    <br>
    <br>
    <p>Get the most relevant content,</p>
    <p>choose and save the best in one place</p>
    <p>and make it available for everyone else.</p>
    <br>
    <br>
    <p>Join the new community</p>
</div>
<div class="jumbotron-2">
</div>