<div class="col-md-4">
  <h3 class="title-rake-show">
    Notifications
  </h3>
  <ul class="leaflet-list">
    <h4><%= notification.title %></h4>
    <p><%= notification.content %></p>
  </ul>
</div>
