<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-overview" 
         href="#collapse-overview">
         Overview
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      Total Rakes: <%= @rakes.count.to_s %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <%= link_to "Master Rakes", master_rakes_path %>
    </h5>
  </div>
</div>