<div class="panel-group" id="accordion-overview">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-overview" 
           href="#collapse-overview">
           Overview
        </a>
      </h5>
    </div>
    <div class="panel-collapse collapse in" id="collapse-overview">
      <div class="panel-body">
        Total Rakes: <%= @rakes.count.to_s %>
        <p>
          <%= link_to "Go to Master Rakes", master_rakes_path %>
        </p>
      </div>
    </div>
  </div>
</div>