<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-overview" 
         href="#collapse-overview">
         Overview
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <% sum = 0 %>
      <%= line_chart @rakes.group_by_week(:created_at).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum += y)} }.reduce({}, :merge), { height: "180px", library: { colors: ['#6e2384'], title: "Total Rakes: " + @rakes.count.to_s, chartArea: { top: 20, bottom: 10 }, hAxis: { format: "MM/dd"}, vAxis: { format: "#" }}} %>
      <%= bar_chart [["Created", Leaflet.where(created_by: current_user.id).count], 
                     ["Saved", HeapLeafletMap.where("heap_id IN (?)", Heap.where("rake_id IN (?)", @rakes.pluck(:id)).pluck(:id)).count]],
                     { height: "120px", library: { colors: ['#6e2384'], title: "Recommendations", chartArea: { top: 20, bottom: 10 }, vAxis: { format: "#" }}} %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading panel-all-master-rakes">
    <h5 class="panel-title">
      <%= link_to "Master Rakes", master_rakes_path %>
    </h5>
  </div>
</div>