<% if !@category.nil? %>
  <% title @category.desc + " Recommendations" %>
<% else %>
  <% title "Shared Recommendation Collections" %>
<% end %>
<div class="container-fluid">
  <%= render 'rakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Shared Recommendation Collections</h1>
      <h5>
        <small>
          <%= link_to "ALL RECOMMENDATION RAKES", master_rakes_path %>
        </small>
      </h5>
      <div class="panel-group" id="accordion-overview">
        <%= render 'overview' %>
        <%= render 'my_rakes' %>
      </div>
    </div>
  </div>
</div>