<%= render 'rakes/rakes_menu' %>
<%#= render 'rakes/sidebar_show' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h5>News</h5>
    <%= render 'feed' %>
  </div>
</div>

<%= render 'rakes/leaflet_save_modal' %>
<%= render 'rakes/leaflet_create_modal' %>
<%#= render 'rakes/social_modal' %>