/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap-tokenfield
 *= require social-share-button
 *= require_tree .
 */
@import "bootstrap";

.navbar-share-buttons {
  padding-top: 4px;
}

.fb-like {
  vertical-align: bottom !important;
}
.twitter-follow-button {
  vertical-align: bottom !important;
}

#motion-pic {
  background: #f39c12;
  height: 54px;
  width: 96px;
}

#action-pic {
  background: #4a2b88;
  height: 54px;
  width: 96px;
}

#chainbreak-pic {
  background: lightgray;
  height: 54px;
  width: 96px;
}


.reminder-month {
  text-align: center;
  color: white !important;
  background-color: #2ccf73;
  height: 18px;
  width: 96px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
}

.reminder-month-purple {
  text-align: center;
  color: white !important;
  background-color: #4a2b88;
  height: 18px;
  width: 96px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
}

.reminder-day {
  text-align: center;
  font-size: 20px !important;
  font-weight: 500;
  height: 36px;
  width: 96px;
  margin-top: 0px;
  padding-top: 4px;
  margin-bottom: 0px;
}

div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.scrolltop {
  background-color: #F1F1F1;
  border: 1px solid darkGray;
  border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: none;
  height: 36px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  right: 2%;
  /*text-indent: -9999px;*/
  top: 50%;
  width: 36px;
  z-index: 33;
}
.scrolltop span {
  position: relative;
  top: 7px;
  left: 10px;
}

.sidebar {
  position: fixed;
  float: left;
  left: 0px;
  height: 100%;
  background: #4A2B88;
  ul {
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;

    li {
      margin-right: -4px;
      position: relative;
      padding: 10px 5px;
      cursor: pointer;

      &:hover {
        background: #4A2B88;
        color: #fff;
      }

      i {
        color: white !important;
        font-size: 2em;
      }

      ul {
        padding: 0;
        position: absolute;
        top: 0;
        left: 40px;
        width: 150px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
        -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
        -o-transition: visibility 0.2s linear, opacity 0.2s linear;

        li {
          background: #4A2B88;
          display: block;
          color: #fff;

          &:hover {
            color: #2CCF73;
          }
        }
      }
      &:hover ul {
        visibility: visible;
        display: block;
        opacity: 1;
      }
    }
  }
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none !important;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible { display:none; }
