/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap-tokenfield
 *= require_tree .
 */
@import "bootstrap";

.sidebar {
  position: fixed;
  float: left;
  left: 0px;
  height: 100%;
  background: #4A2B88;
  ul {
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;

    li {
      margin-right: -4px;
      position: relative;
      padding: 10px 5px;
      cursor: pointer;

      &:hover {
        background: #4A2B88;
        color: #fff;
      }

      i {
        color: white !important;
        font-size: 2em;
      }

      ul {
        padding: 0;
        position: absolute;
        top: 0;
        left: 40px;
        width: 150px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
        -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
        -o-transition: visibility 0.2s linear, opacity 0.2s linear;

        li {
          background: #4A2B88;
          display: block;
          color: #fff;

          &:hover {
            color: #2CCF73;
          }
        }
      }
      &:hover ul {
        visibility: visible;
        display: block;
        opacity: 1;
      }
    }
  }
}
