// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}


.landing-page {
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
  }
  p {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
}

.feature-center {
  text-align: center;
}

.jumbotron {
  background: url(image-path('landing_page_road.jpg'));
  min-height: 720px;
  // min-width: 948px;
  margin-top: -50px;
  margin-bottom: 0;
  // width: inherit;
  background-size: cover;
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    margin-top: 92px;
  }
  p {
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }
  label {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

#error_explanation {
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
}

.help-block {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white !important;
}

.error-message {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 200;  
}

.has-error {
  label {
    color: white !important;
  }
}

.jumbotron-2 {
  background: url(image-path('macbook_image.jpg'));
  min-height: 720px;
  // mid-width: 948px;
  // width: inherit;
  background-size: cover;
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    text-align: center;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }
  a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.dic-pic {
  border: solid 1px;
}

.sign-in-label {
  vertical-align: top;
  line-height: 30px;
  padding-right: 4px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
}

.sign-in-label:hover {
  text-decoration: none;
}

.sign-in-icon {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.devise-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;  
}

.scrolllearn {
  margin-top: 177px;
  cursor: pointer;
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
  
}

@media (min-width: 980px) {
  
}

@media (max-width: 979px) {
  
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .jumbotron {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    h2 {
      margin-bottom: 2px;
      margin-top: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 0px;
      color: white;
      text-align: center;
    }
    p {
      margin-bottom: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0px;
      color: white;
      text-align: center;
    }
  }

  .mobile-form {
    padding: 30px;
  }

  .landing-page-logo {
    width: 100px;
    margin-bottom: 20px;
  }
}

