// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-page {
  h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px !important;
    font-weight: 200 !important;
    letter-spacing: 1.5px !important;
    margin-bottom: 50px;
  }
  h3 {
    text-align: center;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    font-size: 28px !important;
    font-weight: 200 !important;
    letter-spacing: 1.5px !important;
    margin-bottom: 30px;
  }
  p {
    color: grey;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .centered {
    display: block;
    text-align: center;
  }
  .landing-feature-text {
    padding: 20px;
    text-align: center;
    color: #707070 !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
    min-height: 180px;
  }
  .landing-quote {
    padding: 20px;
    color: #707070 !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
  }
  .landing-benefit-text {
    text-align: center;
    color: black !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
  }
  .landing-page-icon {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing-screenshot {
    margin-top: 15px;
    border: 1px solid #C0C0C0;
  }
  .landing-screenshot-left {
    margin: 30px;
    border: 1px solid #C0C0C0;
  }
}

.fb-like {
  vertical-align: middle !important;
}

.twitter-follow-button {
  vertical-align: middle !important;
}

.feature-center {
  text-align: center;
}

.jumbotron {
  background: url(image-path('landing_page_hero_waterballs_1280x853.jpg'));
  min-height: 600px;
  // min-width: 948px;
  margin-top: -78px;
  margin-bottom: 0;
  // width: inherit;
  background-size: cover;
  background-color: #4a2b88;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 37px !important;
    font-weight: 200 !important;
    letter-spacing: 2px !important;
    color: white;
    text-align: center;
    margin-top: 64px !important;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px !important;
    font-weight: 200 !important;
    letter-spacing: 2px !important;
    color: white;
    text-align: center;
    margin-top: 22px !important;
    margin-bottom: 50px !important;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;
    font-weight: 200 !important;
    letter-spacing: 2px !important;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  p {
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }
  label {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .centered {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  .sign-up-button {
    margin-top: 150px !important;
  }
}

#error_explanation {
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
}

.help-block {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white !important;
}

.error-message {
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;  
}

.has-error {
  label {
    color: white !important;
  }
}

.jumbotron-2 {
  // background: url(image-path('macbook_image.jpg'));
  min-height: 200px;
  // mid-width: 948px;
  // width: inherit;
  background-size: cover;
  background-color: #4a2b88;
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    text-align: center;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300 !important;
    color: white;
    text-align: center;
  }
  a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .footer-text {
    padding-top: 30px;
  }
  .centered {
    display: block;
    text-align: center;
    cursor: pointer;
  }
}

.dic-pic {
  border: solid 1px;
}

.sign-in-label {
  vertical-align: top;
  line-height: 30px;
  padding-right: 4px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.sign-in-label:hover {
  color: white
}

.sign-in-icon {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.devise-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;  
}

.scrolllearn {
  margin-top: 177px;
  cursor: pointer;
}

#take-a-look {
  margin-bottom: 30px;
}

.rakepage-pages {
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
    font-weight: 500 !important;
    color: slategrey;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: slategrey;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: slategrey;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: slategrey !important;
  }
  li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: slategrey !important;
  }
}

.notifications {
  background-color: white;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 3px 3px 20px -13px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 20px -13px rgba(0,0,0,1);
  box-shadow: 3px 3px 20px -13px rgba(0,0,0,1);
  margin-bottom: 15px;
}

.notifications-subtitle {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: slategrey !important;
}

.notifications-feed {
  margin-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: slategrey !important;
  background-color: white !important;
  p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    color: slategrey !important;
    background-color: white !important;
  }
  .notifications-list {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    color: slategrey !important;
  }
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
  
}

@media (min-width: 980px) {
  .jumbotron {
    h1 {
      margin-bottom: 2px;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 5px;
      color: white;
      text-align: center;
    }
    h2 {
      margin-bottom: 2px;
      margin-top: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0px;
      color: white;
      text-align: center;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .landing-page {
    .landing-screenshot-left {
      margin-top: 52px !important;
    }
    .landing-feature-text {
      padding-left: 0px !important;
      padding-right: 0px !important;
      font-size: 18px !important;
    }
    h2 {
      font-size: 40px !important;
    }
    h3 {
      font-size: 22px !important;
    }
  }
  .jumbotron {
    h1 {
      margin-top: 30px !important;
    }
  }
}

@media (max-width: 979px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .fb-like {
    display: none !important;
  }
  .twitter-follow-button {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .fb-like {
      display: none !important;
    }
    .twitter-follow-button {
      display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  // .container {
  //   margin-left: 15px !important;
  //   margin-right: 15px !important;
  // }

  .landing-page {
    .landing-screenshot {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .jumbotron {
   
    .sign-in-icon {
      display: none;
    }
    .fb-like {
      display: none !important;
    }
    .twitter-follow-button {
      display: none;
    }
    // padding-left: 0;
    // padding-right: 0;
    min-height: 480px;
    padding-top: 40px;
    h1 {
      margin-bottom: 2px;
      margin-top: 20px !important;
      font-family: 'Roboto', sans-serif !important;
      font-size: 25px !important;
      font-weight: 700 !important;
      letter-spacing: 3px !important;
      color: white !important;
      text-align: center !important;
    }
    h2 {
      margin-bottom: 2px;
      margin-top: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px !important;
      font-weight: 700 !important;
      letter-spacing: 0px;
      color: white;
      text-align: center;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 20px !important;
      font-weight: 300 !important;
      letter-spacing: 2px !important;
      color: white;
      text-align: center;
      margin-top: 0px !important;
    }
    p {
      margin-bottom: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0px;
      color: white;
      text-align: center;
    }
    .sign-up-button {
      margin-top: 10px !important;
    }
  }

  .mobile-gap {
    margin-top: 50px;
  }

  .landing-page-logo {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .footer-text {
    padding-top: 20px !important;
  }
}

