<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      News
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-news">
    <div class="panel-body">
      <!-- Nav tabs -->
      <div class="row">
        <ul class="nav nav-tabs" role="tablist">
          <li class="rake-nav active">
            <a href="#feed" id="view-news" data-toggle="tab">
              FEED
            </a>
          </li>
          <li class="rake-nav">
            <a href="#channels" id="view-channels" data-toggle="tab">
              CHANNELS
            </a>
          </li>
          <li class="rake-nav">
            <a href="#related-rakes" id="view-related-rakes" data-toggle="tab">
              RELATED
            </a>
          </li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="feed">
          <ul id="feed-list" class="leaflet-list">
            <% @feed_leaflets.each do |l| %>
              <%= render 'shared/leaflet', l: l %>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="channels">
          <br>
          <%= render 'channels' %>
        </div>
        <div class="tab-pane active" id="related-rakes">
          <br>
          <%= render 'related_rakes' %>
        </div>
      </div>
    </div>
  </div>
</div>