<% if @rake.due_tasks_count == 0 %>
  <% show_flag = "" %>
<% else %>
  <% show_flag = "hidden" %>
<% end %>
<div class=<%= show_flag %> id="no-due-actions">
  <p class="rake-links">
    <small>
      Yay, you don't have any due actions at the moment. Check the "Planned" tab for upcoming actions or create a new action.
    </small>
  </p>
</div>