<% if @rake.due_tasks_count == 0 %>
  <% show_flag = "" %>
<% else %>
  <% show_flag = "hidden" %>
<% end %>
<div class="<%= show_flag %> landing-page" id="no-due-actions">
  <br>
  <ul id="feed-list" class="leaflet-list">
    <li class="card">
      <div class="card-header">
        <span class="card-icon">
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
        </span>
        <span class="card-label">
          Plan actions
        </span>
      </div>
      <div class="card-title">
        Remind Yourself to Take Action
      </div>
      <div class="card-content">
        <p>
          Skill improvement requires taking action and a lot of practice. Plan actions, track your progress and as an option write some journal entries.
        </p>
      </div>
    </li>
  </ul>
</div>