<% if @rake.scheduled_tasks_count == 0 %>
  <% show_flag = "" %>
<% else %>
  <% show_flag = "hidden" %>
<% end %>
<div class=<%= show_flag %> id="no-planned-actions">
  <br>
  <p class="rake-links">
    <small>
      You don't have any planned actions. Only by taking action you achieve a goal or master a priority. Create actions with reminders from the news feed or by clicking the button above.
    </small>
  </p>
</div>