<% if @rake.scheduled_tasks_count == 0 %>
  <% show_flag = "" %>
<% else %>
  <% show_flag = "hidden" %>
<% end %>
<div class="<%= show_flag %> landing-page" id="no-planned-actions">
  <h3>Take Action </h3>
  <p class="centered"><i class="fa fa-gears fa-2x midnightblue"></i></p>
  <p class="landing-feature-text">
    Good ideas are worthless without execution. Don't delay; begin immediately to take action so you get closer to your goals.
  </p>
</div>