<% if @rake.due_tasks_count == 0 %>
  <% show_flag = "" %>
<% else %>
  <% show_flag = "hidden" %>
<% end %>
<div class=<%= show_flag %> id="no-due-actions">
  <br>
  <p class="rake-links">
    <small>
      You don't have any due actions at the moment.
    </small>
  </p>
</div>