<span class="pull-right rake-settings-show hidden">
  <p>
    <small>
      <% if user_signed_in? && @rake.user_id == current_user.id %>
        <% if @rake.top_rake == 0 %>
          <% if @top_rakes_count < 5 %>
            <%= link_to "Add to Top 5", toggle_top_rake_myrake_path(@rake),
                        method: :post,
                        remote: true,
                        id: "top-toggle" %>
            &nbsp;|&nbsp;
          <% end %>
        <% else %>
          <%= link_to "Remove from Top 5", toggle_top_rake_myrake_path(@rake),
                      method: :post,
                      remote: true,
                      id: "top-toggle" %>
          &nbsp;|&nbsp;
        <% end %>
        <%= link_to "Delete", myrake_path(@rake),
                      :data => { :confirm => "Are you sure?" }, 
                      :method => :delete %>
      <% end %>
    </small>
  </p>
</span>
