<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag url: "/rakes/search", method: :get do |f| %>
      <div class="input-group">
        <%= f.hidden_field :id, class: "rake-id" %>
        <%= f.text_field :name, hide_label: true,
          data: { autocomplete: autocomplete_myrake_name_myrakes_path }, class: "myrake-search" %>
        <span class="input-group-btn">
          <%= f.submit "Go", class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>