<div class="sidebar" >
  <ul>
    <li><i class="fa fa-bell"></i>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
    <li><i class="fa fa-pagelines"></i>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
    <li><i class="fa fa-pencil"></i>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
    <li><i class="fa fa-users"></i>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
    <li><i class="fa fa-user"></i>
    </li>
    <li><i class="fa fa-gear"></i>
    </li>
  </ul>
</div>