<div class="progress">
  <% 30.times do |d| %>
    <% if History.where("rake_id = ? AND created_at > ? AND created_at < ? AND history_int > 0",
                        toprake.id,
                        Time.now - (30 - d).day,
                        Time.now - (29 - d).day).count > 0 %>
      <div class="progress-bar progress-bar-success bookmark-metrics-purple" style="width: 3.33%"></div>
    <% else %>
      <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
    <% end %>
  <% end %>
</div>
