<% meta title: "Shared Recommendations Collections",
        description: "Find the best resources at one place. Stop searching, start finding. Rakepage is a place for sharing recommendation collections, dedicated to a specific topic.",
        keywords: %w(find shared recommendations collaborative collective social bookmarks information overload) %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Shared Recommendation Collections</h1>
      <h5>
        <small>
          <%= link_to "ALL RECOMMENDATION RAKES", master_rakes_path, class: "nav-link" %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <div class="panel-group" id="accordion-overview">
        <%= render 'overview' %>
      </div>
    </div>
  </div>
</div>